<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.second.service.Dao.IrFieldMapper" >
  <resultMap id="BaseResultMap" type="com.second.service.BaseDao.IrField" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="FIELD_ID" property="fieldId" jdbcType="BIGINT" />
    <result column="CRP_YYMM" property="crpYymm" jdbcType="DATE" />
    <result column="CRP_VRT_ID" property="crpVrtId" jdbcType="BIGINT" />
    <result column="CRP_HVSD" property="crpHvsd" jdbcType="DATE" />
    <result column="FIELD_CRP_Y" property="fieldCrpY" jdbcType="REAL" />
    <result column="FIELD_CRP_ET" property="fieldCrpEt" jdbcType="REAL" />
    <result column="CRP_JYZ_GX" property="crpJyzGx" jdbcType="TIMESTAMP" />
    <result column="CROP_ROW" property="cropRow" jdbcType="INTEGER" />
    <result column="CROP_LINE" property="cropLine" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, FIELD_ID, CRP_YYMM, CRP_VRT_ID, CRP_HVSD, FIELD_CRP_Y, FIELD_CRP_ET, CRP_JYZ_GX, 
    CROP_ROW, CROP_LINE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_ir_field_m
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_ir_field_m
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.second.service.BaseDao.IrField" >
    insert into t_ir_field_m (id, FIELD_ID, CRP_YYMM, 
      CRP_VRT_ID, CRP_HVSD, FIELD_CRP_Y, 
      FIELD_CRP_ET, CRP_JYZ_GX, CROP_ROW, 
      CROP_LINE)
    values (#{id,jdbcType=BIGINT}, #{fieldId,jdbcType=BIGINT}, #{crpYymm,jdbcType=DATE}, 
      #{crpVrtId,jdbcType=BIGINT}, #{crpHvsd,jdbcType=DATE}, #{fieldCrpY,jdbcType=REAL}, 
      #{fieldCrpEt,jdbcType=REAL}, #{crpJyzGx,jdbcType=TIMESTAMP}, #{cropRow,jdbcType=INTEGER}, 
      #{cropLine,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.second.service.BaseDao.IrField" >
    insert into t_ir_field_m
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fieldId != null" >
        FIELD_ID,
      </if>
      <if test="crpYymm != null" >
        CRP_YYMM,
      </if>
      <if test="crpVrtId != null" >
        CRP_VRT_ID,
      </if>
      <if test="crpHvsd != null" >
        CRP_HVSD,
      </if>
      <if test="fieldCrpY != null" >
        FIELD_CRP_Y,
      </if>
      <if test="fieldCrpEt != null" >
        FIELD_CRP_ET,
      </if>
      <if test="crpJyzGx != null" >
        CRP_JYZ_GX,
      </if>
      <if test="cropRow != null" >
        CROP_ROW,
      </if>
      <if test="cropLine != null" >
        CROP_LINE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="fieldId != null" >
        #{fieldId,jdbcType=BIGINT},
      </if>
      <if test="crpYymm != null" >
        #{crpYymm,jdbcType=DATE},
      </if>
      <if test="crpVrtId != null" >
        #{crpVrtId,jdbcType=BIGINT},
      </if>
      <if test="crpHvsd != null" >
        #{crpHvsd,jdbcType=DATE},
      </if>
      <if test="fieldCrpY != null" >
        #{fieldCrpY,jdbcType=REAL},
      </if>
      <if test="fieldCrpEt != null" >
        #{fieldCrpEt,jdbcType=REAL},
      </if>
      <if test="crpJyzGx != null" >
        #{crpJyzGx,jdbcType=TIMESTAMP},
      </if>
      <if test="cropRow != null" >
        #{cropRow,jdbcType=INTEGER},
      </if>
      <if test="cropLine != null" >
        #{cropLine,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.second.service.BaseDao.IrField" >
    update t_ir_field_m
    <set >
      <if test="fieldId != null" >
        FIELD_ID = #{fieldId,jdbcType=BIGINT},
      </if>
      <if test="crpYymm != null" >
        CRP_YYMM = #{crpYymm,jdbcType=DATE},
      </if>
      <if test="crpVrtId != null" >
        CRP_VRT_ID = #{crpVrtId,jdbcType=BIGINT},
      </if>
      <if test="crpHvsd != null" >
        CRP_HVSD = #{crpHvsd,jdbcType=DATE},
      </if>
      <if test="fieldCrpY != null" >
        FIELD_CRP_Y = #{fieldCrpY,jdbcType=REAL},
      </if>
      <if test="fieldCrpEt != null" >
        FIELD_CRP_ET = #{fieldCrpEt,jdbcType=REAL},
      </if>
      <if test="crpJyzGx != null" >
        CRP_JYZ_GX = #{crpJyzGx,jdbcType=TIMESTAMP},
      </if>
      <if test="cropRow != null" >
        CROP_ROW = #{cropRow,jdbcType=INTEGER},
      </if>
      <if test="cropLine != null" >
        CROP_LINE = #{cropLine,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.second.service.BaseDao.IrField" >
    update t_ir_field_m
    set FIELD_ID = #{fieldId,jdbcType=BIGINT},
      CRP_YYMM = #{crpYymm,jdbcType=DATE},
      CRP_VRT_ID = #{crpVrtId,jdbcType=BIGINT},
      CRP_HVSD = #{crpHvsd,jdbcType=DATE},
      FIELD_CRP_Y = #{fieldCrpY,jdbcType=REAL},
      FIELD_CRP_ET = #{fieldCrpEt,jdbcType=REAL},
      CRP_JYZ_GX = #{crpJyzGx,jdbcType=TIMESTAMP},
      CROP_ROW = #{cropRow,jdbcType=INTEGER},
      CROP_LINE = #{cropLine,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>